body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #8e8e90;
}

/* Header Styling */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 10px 20px;
  background: #b770da;
  border-bottom: 2px solid #b35f5f;
}

.logo {
  width: 90px;
  height: auto;
  border-radius: 10px;
}

.head-text {
  text-align: center;
}

.head-text h1 {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
}

.head-text p {
  margin: 2px 0 0 0;
  font-size: 16px;
}


header {
  background: #0033aa;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background: #222;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 15px;
  text-decoration: none;
  font-size: 18px;
}

.hero {
  background: url('banner.jpg') center/cover no-repeat;
  color: white;
  padding: 120px 20px;
  text-align: center;
  font-size: 22px;
}

#courses, #about, #gallery, #contact {
  padding: 40px;
  text-align: center;
}

.course-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  box-shadow: 0 0 10px #aaa;
}

.gallery-box img {
  width: 250px;
  height: 180px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px #888;
}


#teachers {
  padding: 40px 20px;
  text-align: center;
}

.teacher-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-top: 20px;
}

.teacher-card {
  width: 220px;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.12);
}

.teacher-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.teacher-card h3 {
  margin: 5px 0;
  font-size: 20px;
  font-weight: 600;
}

.teacher-card p {
  font-size: 15px;
  color: #444;
}


form input, form textarea {
  width: 80%;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #666;
}

button {
  padding: 12px 25px;
  background: #0033aa;
  color: white;
  border: none;
  border-radius: 5px;
}

footer {
  background: black;
  color: white;
  padding: 15px;
  text-align: center;
}

.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: green;
  color: white;
  padding: 14px 18px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 18px;
  box-shadow: 0 0 10px #333;
}
@media (max-width: 768px) {
  .course-box {
    flex-direction: column;
    align-items: center;
  }
  
  .card {
    width: 90%;
  }
  
  .gallery-box img {
    width: 100%;
    height: auto;
  }
  
  .hero {
    padding: 80px 20px;
    font-size: 18px;
  }
}
#location {
  padding: 40px 20px;
  text-align: center;
}

#location p {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 500;
}

.map-container {
  width: 100%;
  max-width: 800px;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

